@import "tailwindcss";

/* Animación de marquee */
#root{
  padding:0px !important;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

/* Hacer que se mueva más rápido en dispositivos móviles (menos de 768px) */
@media (max-width: 768px) {
  .animate-marquee {
    animation-duration: 8s;
  }
}

/* Pausa la animación al hacer hover */
.animate-marquee:hover {
  animation-play-state: paused;
}