@import "tailwindcss";

/* Animación de marquee */
#root{
  padding:0px !important;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

/* Pausa la animación al hacer hover */
.animate-marquee:hover {
  animation-play-state: paused;
}